@import "tailwindcss";

.titlebar-drag {
    -webkit-app-region: drag;
}

.no-drag {
    -webkit-app-region: no-drag;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

::-webkit-scrollbar-track {
    background: #0f172a;
    /* slate-900 */
}

::-webkit-scrollbar-thumb {
    background: #334155;
    /* slate-700 */
    border-radius: 5px;
    border: 2px solid #0f172a;
    /* match track */
}

::-webkit-scrollbar-thumb:hover {
    background: #475569;
    /* slate-600 */
}